
html {
    font-size: 12px;
}

body {
  background-color: #76828c;
}

#chat {   /*在线客服*/
    position: fixed;
    top: 80px;
    left: 400px;
    width: 500px;
    height: 610px;
    font-size: 1.5rem;
    text-align: right;
    background-color: #d7e0e6;
    border-radius: 4px;
    cursor: default;
    z-index: 100;
}

#chat_top {   /*聊天框顶部*/
    height: 40px;
    width: 500px;
    background-color: #1CD5B5;
    text-align: center;
    line-height: 45px;
}

.chat_message {   /*聊天框消息框*/
    height: 450px;
    width: 500px;
    overflow-y: scroll;
}

#chat_tools {   /*聊天框工具栏*/
    height: 30px;
    width: 500px;
    background-color: #1CD5B5;
    padding-top: 10px;
    line-height: 30px;
    text-align: left;
}

#chat_input {    /*聊天框输入框*/
    height: 90px;
    width: 500px;
    text-align: left;
}

#send {          /*聊天框发送按钮*/
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: #1CD5B5;
    border-radius: 3px;
    font-size: 1.3rem;
    color: white;
    margin: 0;
}

#service {      /*在线客服logo*/
    display: inline-block;
    margin-right: 5px;
}

#pic_choose, #face_choose {   /*选择图片按钮*/
    display: inline-block;
    position: relative;
    top: -3px;
    margin: 0 5px;
}

#message0 {     /*模板客户消息*/
    display: none;
}

.message_service {   /*顾客聊天框*/
    padding: 10px 0 10px 10px;
    text-align: left;
    display: block;
    margin-right: 100px;
    clear: both;
}

.message_custom {   /*客服聊天框*/
    padding: 10px 0 10px 10px;
    float: right;
    display: none;
    margin-left: 100px;
    clear: both;
}

.service_left {    /*顾客信息框左部*/
    width: 50px;
    float: left;
}

.service_right {   /*顾客信息框右部*/
    float: left;
    max-width: 160px;
}

.custom_left {    /*客服信息框左部*/
    max-width: 160px;
    float: right;
}

.custom_right {   /*顾客信息框右部*/
    float: right;
    width: 50px;
}

.service_message_contain {    /*顾客信息内容部分*/
    max-width: 250px;
    background:url(../images/chat_service.png);
    -moz-background-size:100% 100%; /* 老版本的 Firefox */
    background-size:100% 100%; /* 也可以用PX表示 */
    background-repeat:no-repeat;
    padding: 8px 3px 8px 13px;
    font-size: 1.2rem;
}

.custom_message_contain {    /*客服信息内容部分*/
    max-width: 160px;
    min-width: 5px;
    background:url(../images/chat_custom.png);
    -moz-background-size:100% 100%; /* 老版本的 Firefox */
    background-size:100% 100%; /* 也可以用PX表示 */
    background-repeat:no-repeat;
    padding: 8px 3px 8px 13px;
    font-size: 1.2rem;
    text-align: left;
}

.message_time {    /*顾客聊天框时间*/
    height: 15px;
    width: 160px;
    text-align: center;
    font-size: 1rem;
}
.service_head {    /*顾客聊天框头像*/
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
}

#choose {     /*对话选择框*/
    position: fixed;
    top: 60px;
    left: 400px;
}
